@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

body {
	-webkit-text-size-adjust: none;
}


/* Basic */
    html {
        box-sizing: border-box;
    }

    *,*:before,*:after {
        box-sizing: inherit;
    }

    body {
        background-color: #f0f0f0;
    }
        body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

    body {
        font-family: 'Source Sans Pro';
        font-weight: 300;
        color: #777;
        line-height: 1.65em;
        font-size: 15pt;
    }



    h1 {
        font-weight: 600;
        text-transform: uppercase;
        color: #888;
    }

    h1 a {
        color: inherit;
        text-decoration:  none;
        border: 0;
    }

    a {
		-moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		-webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		-ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		color: #666;
		text-decoration: none;
		border-bottom: solid 1px #ddd;
	}

        a:hover {
			color: #ed786a;
			border-bottom-color: rgba(255, 255, 255, 0);
		}

    p {
        text-align: justify;
        margin-bottom: 2em;
    }

    ul, ol, dl, table, blockquote {
		margin-bottom: 2em;
	}

/* Container */
    .container {
        margin: 0 auto;
        max-width: 100%;
        width: 70em;
    }
        @media screen and (max-width: 1680px) {

			.container {
				width: 68em;
			}

		}

		@media screen and (max-width: 1280px) {

			.container {
				width: calc(100% - 80px);
			}

		}

		@media screen and (max-width: 980px) {

			.container {
				width: calc(100% - 100px);
			}

		}

		@media screen and (max-width: 736px) {

			.container {
				width: calc(100% - 40px);
			}

		}

/* List */
    ul {
        list-style: disc;
        padding-left: 1em;
    }
        ul li {
            padding-left: 0.5em;
            margin: 0.75em 0 0.75em 0;
        }

            ul li:first-child {
                margin-top: 0;
            }

/* Icon */
    ul.icons {
		list-style: none;
		padding-left: 0;
	}

/* Page Wrapper */

	#page-wrapper > section {
		margin-bottom: 0;
	}

/* Header */
    #header {
        position: relative;
        position: relative;
        background: #fff;
        text-align: center;
    }
        #header > .container {
            padding: 14em 0 7em 0;
            border-bottom: solid 2px #e5e5e5;
            box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5;
        }

        #header h1 {
            font-family: 'Arvo';
            font-weight: 700;
            color: #ed786a;
            text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
            font-size: 3em;
            letter-spacing: 13px;
        }
        
            #header h1 a {
                border: 0;
            }

        #header p {
            text-transform: uppercase;
            font-weight: 600;
            color: #888;
            margin: 2.5em 0 0 0;
            font-size: 0.85em;
            letter-spacing: 3px;
            text-align: center;
        }
/* Nav */
    #nav {
        position: absolute;
        top: 3em;
        left: 0;
        width: 100%;
        cursor: default;
    }

        #nav > ul > li {
            display: inline-block;
            padding-right: 2em;
        }

        #nav > ul > li:last-child {
            padding-right: 0;
        }

        #nav > ul > li > a {
            border: 0;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 400;
            color: #777;
            outline: 0;
            display: block;
        }

        #nav > ul > li > a:before {
            display: inline-block;
            background: #878787;
            color: #e4e4e4;
            width: 2.25em;
            font-size: 0.8em;
            height: 2.25em;
            border-radius: 2.25em;
            line-height: 2.1em;
            text-align: center;
            box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
            margin-right: 0.75em;
            -moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
            -webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
            -o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
            -ms-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
            transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
        }

        #nav > ul > li > a > span {
            -moz-transition: color 0.25s ease-in-out;
            -webkit-transition: color 0.25s ease-in-out;
            -o-transition: color 0.25s ease-in-out;
            -ms-transition: color 0.25s ease-in-out;
            transition: color 0.25s ease-in-out;
            font-size: 0.85em;
            letter-spacing: 3px;
        }

        #nav > ul > li > ul {
            display: none;
        }

        
        #nav > ul > li.active > a:before,
        #nav > ul > li:hover > a:before {
            background: #ED786A;
            color: #fff;
        }

        #nav > ul > li.active > a > span,
        #nav > ul > li:hover > a > span {
            color: #ED786A;
        }

    .dropotron {
		text-align: left;
		border: solid 1px #e5e5e5;
		border-radius: 4px;
		background: #fff;
		background: rgba(255, 255, 255, 0.965);
		box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
		padding: 0.75em 0 0.5em 0;
		min-width: 12em;
		margin-top: calc(-0.5em + 1px);
		margin-left: -2px;
		list-style: none;
	}

		.dropotron.level-0 {
			margin-top: 1.5em;
			margin-left: -1em;
		}

			.dropotron.level-0:after {
				content: '';
				display: block;
				position: absolute;
				left: 1.25em;
				top: calc(-0.75em + 1px);
				border-left: solid 0.75em rgba(255, 255, 255, 0);
				border-right: solid 0.75em rgba(255, 255, 255, 0);
				border-bottom: solid 0.75em #fff;
			}

			.dropotron.level-0:before {
				content: '';
				display: block;
				position: absolute;
				left: 1.25em;
				top: -0.75em;
				border-left: solid 0.75em rgba(255, 255, 255, 0);
				border-right: solid 0.75em rgba(255, 255, 255, 0);
				border-bottom: solid 0.75em #ccc;
			}

		.dropotron span, .dropotron a {
			display: block;
			padding: 0.3em 1em 0.3em 1em;
			border: 0;
			border-top: solid 1px #f0f0f0;
			outline: 0;
		}

		.dropotron li {
			padding-left: 0;
			margin: 0;
		}

			.dropotron li:first-child > span, .dropotron li:first-child > a {
				border-top: 0;
				padding-top: 0;
			}

			.dropotron li:hover > span, .dropotron li:hover > a {
				-moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
				-webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
				-ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
				transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
				color: #ed786a;
			}
